Repository FehamIsmail/-hiza_tech-soen341project2023-, pull requests merged in 2023-03, with the labels that each got.

#53 Created and finished the wireframes, closes #42 and closes #43
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/components/App/App.tsx
  frontend/src/components/Banner/Banner.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/JobDescription/JobDescription.tsx
  frontend/src/components/JobFilterSorting/FilteredComboBox.tsx
  frontend/src/components/JobFilterSorting/JobFilterSorting.tsx
  frontend/src/components/JobFilterSorting/ListBox.tsx
  frontend/src/components/JobFilterSorting/RadioButtonGroup.tsx
  frontend/src/components/JobFilterSorting/ToggleButton.tsx
  frontend/src/components/JobList/JobItem.tsx
  frontend/src/components/JobList/JobLabel.tsx
  frontend/src/components/JobList/JobList.tsx
  frontend/src/components/SearchBar/search.tsx
  frontend/src/constants/atoms.tsx
  frontend/src/constants/jobFilterConstants.tsx
  frontend/src/constants/styles.tsx
  frontend/src/constants/types.tsx
  frontend/src/scripts/utils.tsx
  frontend/tailwind.config.js
  frontend/tsconfig.json
Labels: Frontend, prio:normal, Task

#55 [Frontend] Setting react router dom closes #54
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/App/App.tsx
  frontend/src/index.tsx
  frontend/src/pages/LandingPage.tsx
  package-lock.json
  package.json
Labels: Frontend, prio:normal, Sub-task, dev setup

#70 Link google sheet to readme
  README.md
Labels: documentation

#72 [Frontend Added register/login pages
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/pages/LogIn.tsx
  frontend/src/pages/Register.tsx
Labels: Frontend, prio:high, Task

#73 [Frontend] create user profile edit page, added axios requests #13, #12, #71
  frontend/public/output.css
  frontend/src/components/App/App.tsx
  frontend/src/components/JobFilterSorting/JobFilterSorting.tsx
  frontend/src/constants/constants.tsx
  frontend/src/constants/filter_constants.tsx
  frontend/src/pages/UserForm.tsx
  frontend/src/pages/UserNav.tsx
  frontend/src/scripts/utils.tsx
  frontend/tailwind.config.js
Labels: Frontend, User Story, prio:high

#74 [Backend] Completed some API endpoints
  .gitignore
  CareerConnect_API/CareerConnect_API/__init__.py
  CareerConnect_API/CareerConnect_API/asgi.py
  CareerConnect_API/CareerConnect_API/settings.py
  CareerConnect_API/CareerConnect_API/urls.py
  CareerConnect_API/CareerConnect_API/wsgi.py
  CareerConnect_API/api/__init__.py
  CareerConnect_API/api/admin.py
  CareerConnect_API/api/apps.py
  CareerConnect_API/api/enums.py
  CareerConnect_API/api/migrations/0001_initial.py
  CareerConnect_API/api/migrations/__init__.py
  CareerConnect_API/api/models.py
  CareerConnect_API/api/serializers.py
  CareerConnect_API/api/tests.py
  CareerConnect_API/api/urls.py
  CareerConnect_API/api/views.py
  CareerConnect_API/manage.py
  main.py
  requirements.txt
Labels: User Story, prio:high, Backend

#78 Update README.md
  README.md
Labels: documentation

#77 [Test] test api endpoints
  CareerConnect_API/CareerConnect_API/settings.py
  CareerConnect_API/api/serializers.py
  CareerConnect_API/api/views.py
  frontend/package.json
  frontend/public/index.html
  frontend/public/output.css
  frontend/src/components/App/App.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/JobDescription/JobDescription.tsx
  frontend/src/constants/atoms.tsx
  frontend/src/constants/filter_constants.tsx
  frontend/src/pages/LandingPage.tsx
  frontend/src/pages/LogIn.tsx
  frontend/src/pages/Register.tsx
  frontend/src/pages/UserForm.tsx
  frontend/src/pages/UserNav.tsx
  frontend/src/scripts/utils.tsx
  requirements.txt
Labels: Frontend, prio:normal, Task, Backend

#81 Edit profile
  CareerConnect_API/CareerConnect_API/settings.py
  CareerConnect_API/CareerConnect_API/urls.py
  CareerConnect_API/api/admin.py
  CareerConnect_API/api/apps.py
  CareerConnect_API/api/migrations/0001_initial.py
  CareerConnect_API/api/migrations/0002_remove_studentprofile_bio_and_more.py
  CareerConnect_API/api/models.py
  CareerConnect_API/api/serializers.py
  CareerConnect_API/api/signals.py
  CareerConnect_API/api/urls.py
  CareerConnect_API/api/views.py
  CareerConnect_API/media/images/20220110_234331425_iOS.jpg
  CareerConnect_API/media/images/20220110_234331425_iOS_y7OIgEN.jpg
  CareerConnect_API/media/images/photo-1533450718592-29d45635f0a9.jpg
  CareerConnect_API/media/images/sub_csm_01_336_custom-054c05c24525fd23a00d335ab2f236b420a67115.jpg
  CareerConnect_API/requirements.txt
  requirements.txt
Labels: prio:high, Backend

#83 [Frontend/Backend] Added institution/company name in register form, closes #82
  CareerConnect_API/api/serializers.py
  CareerConnect_API/api/views.py
  frontend/src/pages/Register.tsx
Labels: Frontend, prio:normal, Sub-task, Backend

#86 84 rontend add more fields to change user profile
  CareerConnect_API/api/admin.py
  CareerConnect_API/api/migrations/0001_initial.py
  CareerConnect_API/api/migrations/0002_alter_employerprofile_user_alter_studentprofile_user.py
  CareerConnect_API/api/migrations/0002_remove_studentprofile_bio_and_more.py
  CareerConnect_API/api/migrations/0003_studentprofile_field_of_study.py
  CareerConnect_API/api/models.py
  CareerConnect_API/api/permissions.py
  CareerConnect_API/api/serializers.py
  CareerConnect_API/api/urls.py
  CareerConnect_API/api/views.py
  frontend/package.json
  frontend/public/index.html
  frontend/public/output.css
  frontend/src/assets/default_profile_pic.png
  frontend/src/components/Header/Header.tsx
  frontend/src/components/JobDescription/JobDescription.tsx
  frontend/src/components/JobList/JobItem.tsx
  frontend/src/constants/atoms.tsx
  frontend/src/constants/mockJobs.tsx
  frontend/src/constants/types.tsx
  frontend/src/pages/LogIn.tsx
  frontend/src/pages/UserForm.tsx
  frontend/src/pages/UserNav.tsx
  frontend/src/scripts/UserFormUtils.tsx
  frontend/src/scripts/utils.tsx
  requirements.txt
Labels: Frontend, prio:normal, Task, Backend

#97 24 apply to a job posting
  CareerConnect_API/api/admin.py
  CareerConnect_API/api/migrations/0001_initial.py
  CareerConnect_API/api/migrations/0002_rename_deadline_job_apply_by_date_and_more.py
  CareerConnect_API/api/migrations/0003_rename_apply_by_date_job_deadline.py
  CareerConnect_API/api/migrations/0004_job_industry.py
  CareerConnect_API/api/models.py
  CareerConnect_API/api/permissions.py
  CareerConnect_API/api/serializers.py
  CareerConnect_API/api/signals.py
  CareerConnect_API/api/urls.py
  CareerConnect_API/api/views.py
  CareerConnect_API/media/images/20220110_234331425_iOS.jpg
  CareerConnect_API/media/images/20220110_234331425_iOS_y7OIgEN.jpg
  CareerConnect_API/media/images/20230109_070612000_iOS.jpg
  CareerConnect_API/media/images/photo-1533450718592-29d45635f0a9.jpg
  CareerConnect_API/media/images/sub_csm_01_336_custom-054c05c24525fd23a00d335ab2f236b420a67115.jpg
  frontend/package.json
  frontend/public/output.css
  frontend/src/components/App/App.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/constants/FormConstants.tsx
  frontend/src/constants/constants.tsx
  frontend/src/constants/mockJobs.tsx
  frontend/src/constants/types.tsx
  frontend/src/pages/JobForms.tsx
  frontend/src/pages/UserForm.tsx
  frontend/src/pages/UserNav.tsx
  frontend/src/scripts/UserFormUtils.tsx
Labels: bug, Frontend, User Story, prio:high, Task, Backend

#101 87 student create an application package
  CareerConnect_API/api/urls.py
  CareerConnect_API/api/views.py
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/public/output.css
  frontend/src/components/App/App.tsx
  frontend/src/components/Documents/DocumentForm.tsx
  frontend/src/components/Documents/DocumentTable.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/StatusBar/Status.tsx
  frontend/src/constants/types.tsx
  frontend/src/pages/DocumentsPage.tsx
  frontend/src/pages/Register.tsx
  frontend/src/pages/UserForm.tsx
  frontend/src/pages/UserNav.tsx
  frontend/src/scripts/DocumentUtils.ts
  frontend/src/scripts/UserFormUtils.tsx
  frontend/src/scripts/utils.tsx
  frontend/tsconfig.json
Labels: User Story, prio:high

#110 filtering works closes #20, #108, #109
  CareerConnect_API/api/views.py
  frontend/public/output.css
  frontend/src/components/App/App.tsx
  frontend/src/components/Documents/DocumentTable.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/JobFilterSorting/FilteredComboBox.tsx
  frontend/src/components/JobFilterSorting/JobFilterSorting.tsx
  frontend/src/components/JobFilterSorting/ToggleButton.tsx
  frontend/src/components/JobList/JobItem.tsx
  frontend/src/components/JobList/JobList.tsx
  frontend/src/components/SearchBar/Search.tsx
  frontend/src/constants/atoms.tsx
  frontend/src/constants/filter_constants.tsx
  frontend/src/pages/JobForms.tsx
  frontend/src/pages/LandingPage.tsx
  frontend/src/pages/Register.tsx
  frontend/src/pages/UserNav.tsx
Labels: Frontend, User Story, prio:normal, Backend

#127 25 as an employee i want to select a candidate for an interview
  CareerConnect_API/api/enums.py
  CareerConnect_API/api/migrations/0002_alter_applicationpackage_student_profile.py
  CareerConnect_API/api/models.py
  CareerConnect_API/api/permissions.py
  CareerConnect_API/api/serializers.py
  CareerConnect_API/api/urls.py
  CareerConnect_API/api/views.py
Labels: prio:high, Backend

#130 [128-129] Fixes frontend issues
  CareerConnect_API/api/views.py
  frontend/public/output.css
  frontend/src/components/App/App.tsx
  frontend/src/components/Banner/Banner.tsx
  frontend/src/components/Documents/DocumentForm.tsx
  frontend/src/components/JobDescription/JobDescription.tsx
  frontend/src/components/JobList/JobItem.tsx
  frontend/src/constants/FormConstants.tsx
  frontend/src/constants/atoms.tsx
  frontend/src/constants/types.tsx
  frontend/src/pages/DocumentsPage.tsx
  frontend/src/pages/JobForm.tsx
  frontend/src/pages/LandingPage.tsx
  frontend/src/scripts/DocumentUtils.ts
  frontend/src/scripts/utils.tsx
Labels: bug, Frontend, prio:high
