Repository FehamIsmail/-hiza_tech-soen341project2023-, pull requests merged in 2023-04, with the labels that each got.

#131 Completed candidate screening for job matching process
  CareerConnect_API/media/Jessica_Singh_Resume_1.pdf
  CareerConnect_API/media/Jessica_Singh_Resume_1_wAhiKX7.pdf
  CareerConnect_API/media/images/default_job_picture.jpg
  frontend/public/output.css
  frontend/src/components/App/App.tsx
  frontend/src/components/Candidate/Applicant.tsx
  frontend/src/components/Documents/DocumentTable.tsx
  frontend/src/components/ExpandableDiv/ExpandableDiv.tsx
  frontend/src/components/JobList/JobItem.tsx
  frontend/src/components/JobList/JobList.tsx
  frontend/src/constants/types.tsx
  frontend/src/pages/Candidate.tsx
  frontend/src/pages/CandidateView.tsx
  frontend/src/pages/JobForms.tsx
  frontend/src/pages/JobSelect.tsx
  frontend/src/pages/UserNav.tsx
Labels: Frontend

#139 [Frontend] Fixes frontend bugs, closes #138
  frontend/public/index.html
  frontend/public/output.css
  frontend/src/components/App/App.tsx
  frontend/src/components/ApplyBox/ApplyBox.tsx
  frontend/src/components/Documents/DocumentForm.tsx
  frontend/src/components/Documents/DocumentTable.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/JobDescription/JobDescription.tsx
  frontend/src/components/JobList/JobItem.tsx
  frontend/src/constants/atoms.tsx
  frontend/src/pages/DocumentsPage.tsx
  frontend/src/pages/JobForm.tsx
  frontend/src/pages/LandingPage.tsx
  frontend/src/pages/SideNav.tsx
  frontend/src/pages/UserForm.tsx
  frontend/src/pages/UserNav.tsx
  frontend/src/scripts/DocumentUtils.ts
  frontend/src/scripts/utils.tsx
Labels: bug, Frontend, prio:normal

#141 Employer can edit and delete job postings
  CareerConnect_API/media/images/default_job_picture_SQOTz8p.jpg
  CareerConnect_API/media/images/default_job_picture_lla5eIW.jpg
  CareerConnect_API/media/images/default_job_picture_lwJh5jo.jpg
  CareerConnect_API/media/images/default_job_picture_lxogBjR.jpg
  CareerConnect_API/media/images/default_job_picture_ty4y85u.jpg
  frontend/public/output.css
  frontend/src/components/App/App.tsx
  frontend/src/components/JobList/JobItem.tsx
  frontend/src/components/JobList/JobList.tsx
  frontend/src/pages/JobEdit.tsx
  frontend/src/pages/JobSelect.tsx
  frontend/src/pages/SideNav.tsx
Labels: Frontend, prio:high

#145 Social auth (google)
  CareerConnect_API/CareerConnect_API/settings.py
  CareerConnect_API/CareerConnect_API/urls.py
  CareerConnect_API/api/migrations/0003_alter_application_status.py
  CareerConnect_API/api/migrations/0004_studentnotifications_employernotifications.py
  CareerConnect_API/api/models.py
  CareerConnect_API/api/serializers.py
  CareerConnect_API/api/urls.py
  CareerConnect_API/api/views.py
  CareerConnect_API/requirements.txt
  frontend/package-lock.json
  frontend/package.json
  frontend/src/index.tsx
  frontend/src/pages/LogIn.tsx
  frontend/src/pages/UserForm.tsx
Labels: Frontend, prio:high, Task, Backend, Extra Feature, Improvement

#143 Students receive an email when the status of their application change…
  .gitignore
  CareerConnect_API/CareerConnect_API/settings.py
  CareerConnect_API/api/functions.py
  CareerConnect_API/api/views.py
Labels: Extra Feature

#147 fixed security issue where credentials were hardcoded and not in .env…
  CareerConnect_API/CareerConnect_API/settings.py
  CareerConnect_API/api/functions.py
  CareerConnect_API/api/views.py
Labels: Security

#153 [Frontend] fixes candidate issues closes #152
  CareerConnect_API/CareerConnect_API/settings.py
  CareerConnect_API/api/functions.py
  CareerConnect_API/api/views.py
  frontend/public/output.css
  frontend/src/components/Candidate/Applicant.tsx
  frontend/src/components/ExpandableDiv/ExpandableDiv.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/JobList/JobItem.tsx
  frontend/src/constants/types.tsx
  frontend/src/pages/Candidate.tsx
  frontend/src/pages/CandidateView.tsx
  frontend/src/pages/LandingPage.tsx
  frontend/src/pages/SideNav.tsx
  frontend/src/scripts/utils.tsx
Labels: bug, Frontend, Task, Improvement

#160 Favourite jobs
  frontend/public/output.css
  frontend/src/components/JobList/JobItem.tsx
  frontend/src/constants/filter_constants.tsx
Labels: Frontend

#159 Student can view which jobs they applied to
  CareerConnect_API/media/images/default_job_picture_Qsl3hVh.jpg
  frontend/src/components/App/App.tsx
  frontend/src/components/ExpandableDiv/ExpandableDiv.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/pages/ApplicationsPage.tsx
  frontend/src/pages/JobView.tsx
  frontend/src/pages/JobsAppliedTo.tsx
Labels: Frontend, prio:high

#162 social auth for facebook and github #161 Closed
  CareerConnect_API/.env.example
  CareerConnect_API/CareerConnect_API/settings.py
  CareerConnect_API/api/urls.py
  CareerConnect_API/api/views.py
  frontend/.env.example
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/LogIn.tsx
Labels: Frontend, prio:low, Backend, Extra Feature

#166 Backend tests
  CareerConnect_API/api/tests.py
  CareerConnect_API/api/tests/__init__.py
  CareerConnect_API/api/tests/test_application_pack_detail_view.py
  CareerConnect_API/api/tests/test_application_package_list_view.py
  CareerConnect_API/api/tests/test_cover_letter_detail_view.py
  CareerConnect_API/api/tests/test_cover_letter_list_view.py
  CareerConnect_API/api/tests/test_cv_detail_view.py
  CareerConnect_API/api/tests/test_cv_list_view.py
  CareerConnect_API/api/tests/test_employer_profile_view.py
  CareerConnect_API/api/tests/test_job_list_view.py
  CareerConnect_API/api/tests/test_registration_view.py
  CareerConnect_API/api/tests/test_student_profile_view.py
  CareerConnect_API/api/views.py
Labels: Backend, Testing, Unit Test

#167 Pipeline Working
  .circleci/config.yml
  CareerConnect_API/requirements.txt
  sonar-project.properties
Labels: Testing

#173 removed sonar from ci pipeline
  .circleci/config.yml
  sonar-project.properties
Labels: dev setup, Testing

#174 [Frontend] Configured cypress for component testing
  frontend/cypress.config.ts
  frontend/cypress/support/component-index.html
  frontend/cypress/support/component.ts
  frontend/jest.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
Labels: Frontend, Acceptance Test

#170 [Frontend] Added favorite jobs toggle, fixes only remote bug, closes #132
  frontend/public/output.css
  frontend/src/components/JobDescription/JobDescription.tsx
  frontend/src/components/JobFilterSorting/JobFilterSorting.tsx
  frontend/src/components/JobFilterSorting/ToggleButton.tsx
  frontend/src/components/JobList/JobItem.tsx
  frontend/src/constants/atoms.tsx
  frontend/src/constants/filter_constants.tsx
  frontend/tailwind.config.js
Labels: bug, Frontend, Extra Feature

#178 code cleaning with sonarcloud #176
  CareerConnect_API/CareerConnect_API/settings.py
  CareerConnect_API/api/models.py
  CareerConnect_API/api/serializers.py
  CareerConnect_API/api/tests/test_application_package_list_view.py
  CareerConnect_API/api/tests/test_job_list_view.py
  CareerConnect_API/api/urls.py
  CareerConnect_API/api/views.py
Labels: Backend, Testing

#179 176 remove backend code smells with sonarcloud
  CareerConnect_API/api/serializers.py
  CareerConnect_API/api/tests/test_application_pack_detail_view.py
  CareerConnect_API/api/tests/test_cover_letter_detail_view.py
  CareerConnect_API/api/tests/test_cv_detail_view.py
  CareerConnect_API/api/tests/test_employer_profile_view.py
  CareerConnect_API/api/views.py
Labels: Testing

#181 [Frontend] Testing branch using cypress
  frontend/cypress.config.ts
  frontend/cypress/fixtures/example.json
  frontend/cypress/fixtures/example.pdf
  frontend/cypress/integration/App.cy.tsx
  frontend/cypress/integration/Applicant.cy.tsx
  frontend/cypress/integration/ApplicationsPage.cy.tsx
  frontend/cypress/integration/ApplyBox.cy.tsx
  frontend/cypress/integration/Candidate.cy.tsx
  frontend/cypress/integration/DocumentForm.cy.tsx
  frontend/cypress/integration/DocumentTable.cy.tsx
  frontend/cypress/integration/DocumentsPage.cy.tsx
  frontend/cypress/integration/Header.cy.tsx
  frontend/cypress/integration/JobDescription.cy.tsx
  frontend/cypress/integration/JobEdit.cy.tsx
  frontend/cypress/integration/JobForm.cy.tsx
  frontend/cypress/integration/JobsAppliedTo.cy.tsx
  frontend/cypress/integration/LandingPage.cy.tsx
  frontend/cypress/integration/SideNav.cy.tsx
  frontend/cypress/integration/Status.cy.tsx
  frontend/cypress/integration/UserForm.cy.tsx
  frontend/cypress/support/commands.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/App/App.test.tsx
  frontend/src/components/Banner/Banner.cy.tsx
  frontend/src/components/Documents/DocumentTable.tsx
  frontend/src/constants/atoms.tsx
  frontend/src/index.tsx
  frontend/src/pages/Candidate.tsx
  frontend/src/pages/JobsAppliedTo.tsx
  frontend/src/scripts/utils.tsx
  frontend/tsconfig.json
Labels: Frontend, Testing

#184 [Frontendt] Add test script to package.json
  frontend/cypress.config.ts
  frontend/package.json
Labels: Frontend, Testing
